html{
    text-align: center;
    padding-top: 50px;
}
#intro{
    color: #338ba8;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    font-family: cursive;
    font-size: 20px;
    font-weight: bolder;
    font-size: xx-large;
    padding: 0% 20px;
}
    
body{
    margin: 0;
    background-color: whitesmoke;
}
input[type="text"]{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid lightblue;
    font-size: 16px;
}
input[type="submit"]{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color:#ADD8E6;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
input[type="submit"]:active{
    background-color: #049af7;
}
input[type="email"]{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid lightblue;
    font-size: 16px;
    padding-top: 20px;
}
p{
    font-family: fantasy;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: lightblue;
    padding: 10px;
}
#entranceMessage{
    color: #338ba8;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    font-family: cursive;
    font-weight: bolder;
    font-size: 3vw;
}
button{
    background-color: #ADD8E6;
    
}
button:active{
    background-color: #049af7;
}
#toDoList{
    margin: 0 auto;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    width: 50%;
    margin-top: 30px;
}
.completed{
    text-decoration: line-through;
    color: #000;
    cursor: pointer;
}
.trash-icon{
    cursor: pointer;
    margin-left: 100px;
}
#logout{
    margin-top: 60px;

}
#h3{
    font-family: monospace;
    padding-bottom: 20px;
}

   