html{
    text-align: center;
    padding-top: 50px;
}
#intro{
    color: #338ba8;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    font-family: cursive;
    font-size: 20px;
    font-weight: bolder;
    font-size: xx-large;
    padding: 0% 20px;
}
    
body{
    margin: 0;
    background-color: whitesmoke;
}
input[type="text"]{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid lightblue;
    font-size: 16px;
}
input[type="submit"]{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color:#ADD8E6;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
input[type="submit"]:active{
    background-color: #049af7;
}
input[type="email"]{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid lightblue;
    font-size: 16px;
    padding-top: 20px;
}
p{
    font-family: fantasy;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: lightblue;
    padding: 10px;
}